html {
    margin: 0;
    padding: 0;  
    background-size: cover;
    background-blend-mode: darken;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Open Sans', sans-serif;
    background-color: rgba(0,0,0,0) !important;
}

.main {
    display: block;
}
.paralax {
    display: none;
}

.backgrounds {
    list-style: none;
    position: relative;
    z-index: -1;
    margin: 0;
    padding: 0;
}

.backgrounds li img {
    position: fixed;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

.navigation {
    text-align: right;
    margin-top: 8%;
    position: fixed;
    color: white;  
    right: 0%;
    top: 0px;
    transition: 0.5s;
}
.navigation-active {
    right: 50%;
}

.navigation ul {
    list-style-type: none;   
}
.navigation ul li {
    transition: 0.3s ease-in-out;
}

.navigation ul li:hover {
    border-right: solid 10px #de0000;
}

.navigation ul .menu-option {
    background: #efefef;
    height: 64px;
    border-radius: 4px 0 0 4px;
    margin-bottom: 5px;
    padding-top: 24px;
    text-align: center;    
    padding-left: 10px;
    color: black;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s;
    padding-left: 30px;
    padding-right: 30px;
    display: inline-block;    
    transition: 0.5s ease-in-out;
}

.navigation ul .menu-option:hover  {
    text-decoration: none;
    cursor: pointer;    
}

.li_active {
    color: white !important;
    background: black !important;
    cursor: pointer;    
}

.main-heading h1 {
    margin: 0 0 0 0;
    display: block;
    color: white;
    font-weight: 600;
    font-size: 120px;    
    padding-left: 60px;
    text-shadow: 0 0 5px black;
    font-family: 'Montserrat', sans-serif;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
    opacity: 0;
}

.main-heading {
    transition: 0.5s;
}

.startup-sheet {
    background: rgba(255, 255, 255, 0.30);
}

.quru-image-server-tag img {
    height: 64px;
    width: auto;
}

.custom-button {
    float: right;
    background: rgba(0,0,0,0);
    color: white;
    padding-top: 5px;
    font-size: 40px;
    transition: 0.3s;
    display: none;
    z-index: 99;
    font-weight: 100;
    text-align: center;
    z-index: 99;
    position: absolute;
    top: -40px;
    right: 0;
    font-family: 'Montserrat', sans-serif;    
}

.custom-button:hover {
    text-shadow: 0 0 50px white;
}

.left-main-panel {
    padding-top: 10vh;
    height: 100vh;
}
.right-main-panel {
    height: 100vh;
}

.download-button {
    color: white;
    background: #de0000;
    margin-left: 60px;
    border-radius: 4px;
    padding: 15px 25px 15px 25px;
    margin-top: 50px;
    text-transform: uppercase;
    font-size: 12px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.dark-layer {
    background: rgba(0, 0, 0, 0.25) no-repeat center center fixed;    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100vw;
}

.panel {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.80);
    left: 100%;
    position: fixed;
    color: white;  
    top: 0px;
    transition: 0.5s;
    overflow-y: auto;
    padding-bottom: 60px;
    margin-left: 5px;
}

.panel .content {
    margin-left: 30px;
    width: 75%;
    margin-bottom: 60px;
}

.panel .content .heading {
    width: 75%;
    margin-top: 20px;
}

.panel .content .heading h1{
    color: #de0000;
    font-size: 48px; 
    font-weight: 700;   
    font-family: 'Montserrat', sans-serif;
    padding-left: 30px;     
}

.panel-nav-ul {
    list-style: none;
    margin-top: 8%;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}

.panel-nav-ul .pipe {
    color: #666;
    font-weight: 700;
}

.panel-nav-ul .technical-data {
    font-weight: 500;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    color: #666;    
}

.panel-nav-ul .technical-data span{
    padding-right: 10px;
}

.panel-nav-ul li {
    display: inline-block;
    padding-right: 20px;
    text-transform: uppercase;
    font-size: 12px;
}
.technical-data {
    display: none;
}
.technical-data-main {
    display: none;
    -webkit-transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -ms-transition: opacity .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
    opacity: 0;
}
.technical-data-main span {
    color: #de0000;
    font-weight: 200;
    margin-left: 30px;
    text-transform: uppercase;
}

.product-information-main {
    display: block;
    -webkit-transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -ms-transition: opacity .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
}

.product-information-main .heading h1 {
    width: 75%;
}

.product-information-main span {
    color: #de0000;
    font-weight: 200;
    margin-left: 30px;
    text-transform: uppercase;
}

.panel-inside-nav ul .product-information {
    color: white;
    font-weight: 500;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
}

.panel .content p {
    padding-left: 30px;
    font-weight: 200;
    font-size: 16px;
    margin-bottom: 0.5em;
    width: 75%;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
}

.active {
    left: 50%;
}

.cb-slideshow {
    list-style: none;
}

.svg-icon {
    width: 25px;
    margin-bottom: 5px;
} 

.social {
    position: absolute;
    bottom: 0;
}

.download {
    position: absolute;
    bottom: 125px;
}

.social ul {
    list-style: none;
    padding-top: 25px;
    padding-left: 60px;
}
.social ul li {
    display: inline-block;
    padding: 5px;
    background: #222;    
    border-radius: 5px;
    transition: 0.3s;
    margin-right: 10px;
 
}
.social ul li i{
    color: lightgray;        
    font-weight: 900;
    cursor: pointer;    
}
.social ul li:hover {
    background: #111;
    color: white;
}

.rendered {
    margin-left: 60px;
    color: lightgray;
    background: #222;
    font-size: 12px;
    width: 350px;
    text-align: center;
    border-radius: 4px;
    padding: 5px 10px 5px 10px;
    font-weight: 300;
}
.image-analytics-ul li{
    list-style-type: disc !important;
    text-transform : none !important;
    display: list-item !important;
}

.download-icons {
    color: black;    
    margin-top: 62px;
    padding-left: 0;
}
.download-icons li {
    padding: 3px 2px 3px 2px;
    display: inline;
    background: white;
    border-radius: 5px;
    margin: 3px;
    transition: 0.3s;
}
.download-icons li:hover {
    color: white;
    background: #de0000;
    float:right;
}
.download-icons-con {
    opacity: 0;
    transition: 0.3s;
}

.extra-features-content {
    font-weight: 200;
    font-family: 'Poppins', 'sans-serif';
    padding-top: 15px;    
}

.extra-features-nav ul > li > span{
    color: #777;
    font-weight: 300;
}
.nav-active {
    color: #de0000 !important;
    font-weight: 500 !important;
}

.extra-features-nav > ul {
    list-style-type: none;    
    padding-left: 0;
}

.extra-features-nav > ul {
    list-style-type: none;    
}

.extra-features-nav > ul > li {
    text-transform: uppercase;
    color: gray;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    cursor: pointer;
}

.extra-features-list > ul {
    padding-left: 25px;
    width: 75%;
}

.extra-features-list {
    margin-top: 20px;
    padding-left: 5px;
}

.extra-features-list > ul > li {
    list-style-type: disc;
    color: #de0000;
    margin-left: 10px;    
    font-size: 12px;
}

.extra-features-list ul > li > span {
    color: white;
    text-transform: inherit;
    padding-left: 0;
    margin-left: 0; 
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
}

.extra-features-list > ul > li.title {
    list-style-type: none;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0;
    font-size: 16px;  
    color:white;
    font-family: 'Open Sans', sans-serif;
}

.qis-logo {
    padding: 15px 30px 15px 60px;
    background: #222;
}

.onload {
    background: #888;
    z-index: 99;
    width: 100%;
    height: 110vh; 
    padding-top: 20%;
    transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    position: fixed;
    opacity: 1;
}
.onload h1 {
    text-align: center;
    font-size: 120px;
    color: lightgray;
    text-shadow: 0 0 50px #000;
    font-family: 'Montserrat', sans-serif;
}

.text-pop-up-top {
	-webkit-animation: text-pop-up-top 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: text-pop-up-top 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes text-pop-up-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: none;
    }
    100% {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: 0 1px 0 maroon, 0 2px 0 maroon, 0 3px 0 maroon, 0 4px 0 maroon, 0 5px 0 maroon, 0 6px 0 maroon, 0 7px 0 maroon, 0 8px 0 maroon, 0 9px 0 maroon, 0 50px 30px rgba(0, 0, 0, 0.8);
    }
  }
  @keyframes text-pop-up-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: none;
    }
    100% {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: 0 1px 0 maroon, 0 2px 0 maroon, 0 3px 0 maroon, 0 4px 0 maroon, 0 5px 0 maroon, 0 6px 0 maroon, 0 7px 0 maroon, 0 8px 0 maroon, 0 9px 0 maroon, 0 50px 30px rgba(0, 0, 0, 0.8);
    }
  }

@media(max-height: 850px) {
    .navigation ul li {
        height: 45px;
        padding-top: 15px;
    }
}

@media(max-width: 1441px) {
    
    .main-heading h1 {
        font-size: 70px;
    }
    .navigation ul .menu-option {
        height: 50px;
        padding-top: 16px;
    }
}

@media(max-height: 850px) {
    .main-heading h1 {
        font-size: 70px;
    }
    .navigation ul .menu-option {
        height: 50px;
        padding-top: 16px;
    }
}

/* Letter box */
@media(max-height:575px) and (max-width:1329px) and (min-width:651px) {
    .navigation {
        margin-top: 5%;
    }
    .navigation ul .menu-option {
        padding: 1px 3px 1px 3px;
        margin: 0 0 1px 0;
        line-height: 45px;
        height: 11.1%;        
    }

    .main-heading h1 {
        font-size: 48px;
        padding-top: 10px;
        max-height: 300px;
        width: 75%;
    }

}
@media(max-height:782px) and (min-height:576px) {
    .main-heading h1 {
        font-size: 65px;
    }
}

@media(max-width:890px) and (min-width:651px) {
    .panel .content {
        margin-left: -25px;
        width: 65%;
    }
    .panel .content .heading h1 {
        font-size: 32px;
    }
    .panel-nav-ul li {
        padding-right: 2px;
        font-size: 8pt;
    }
    .pipe {
        padding-right: 2px;
    }
    .download-button {
        margin-left: 15px;
    }
    .social ul {
        padding-left: 15px;
    }
    .rendered {
        margin-left: 15px;
        width: 75%;
    }
}

/* Mobile */
@media(max-width:650px) {
    .main-heading {
        display: none;
    }   
    .navigation ul .menu-option {
        background-color: rgba(255,255,255,0.85);
        height: 30px;
        padding: 6.5px 2px 2px 2px;        
        font-weight: 900;
    }
    .quru-image-server-tag img {
        width: 250px;
        height: auto;
        margin-top: 10px;
    }
    .navigation {
        margin-top: 20%;
    }
    .download {
        margin-top: 60%;
        margin-bottom: 10px;
    }
    .download-button {
        margin-left: 10px;
    }
    .svg-icon {
        width: 20px;
        height: auto;
    }
    .socail-list-ul-li {
        padding-left: 0;
        margin-left: 10px;
    }
    .rendered {
        margin-left: 10px;
        margin-right: 10px;
        width: 90%;
    }
    .active {
        left: 0%;
    }
    .social ul {
        padding-left: 0;
    }
    .panel {
        width: 100%;
        margin-left: 0;
    }
    .panel .content {
        margin-left: 0;
        width: 100%;
    }
    .panel .content p {
        width: 100%;
    }
    .panel .content .heading h1 {
        font-size: 38px;
        width: 100%;
        padding-left: 0;
    }
    .product-information-main .heading h1 {
        width: 100%;
    }
    .custom-button {
        display: block;
    }
    .extra-features-nav ul > li > span {
        font-size: 12px;
        width: 100%;
        margin-left: 0;
    }
    .panel .content p {
        padding-left: 0;
    }
    .extra-features-list > ul {
        padding-left: 0;
    }
    .panel {
        background: rgba(0, 0, 0, 0.90)
    }
    .panel-nav-ul {
        padding-left: 0;
        background-color: rgba(255,255,255,0.05);
        padding: 5px 5px 5px 5px;
    }
    .left-main-panel {
        padding-top: 0;
    }
    .panel-nav-ul li {
        padding-right: 2px;
        font-size: 8pt;
    }
    .pipe {
        padding-right: 2px;
    }
}