html {
    margin: 0;
    padding: 0;  
    background-size: cover;
    background-blend-mode: darken;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Open Sans', sans-serif;
    background-color: rgba(0,0,0,0) !important;
}

.backgrounds {
    list-style: none;
    position: relative;
    z-index: -1;
    margin: 0;
    padding: 0;

}
.backgrounds li{
    position: absolute;
}

.backgrounds li img {
    position: fixed;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.backgrounds li:nth-child(4) {
    animation: xfade 16s 0s infinite;
  }
.backgrounds li:nth-child(3) {
    animation: xfade 16s 4s infinite;
  }
.backgrounds li:nth-child(2) {
    animation: xfade 16s 8s infinite;
  }
.backgrounds li:nth-child(1) {
    animation: xfade 16s 12s infinite;
  }
  @keyframes xfade{
    17% {
      opacity:1;
    }
    25% {
      opacity:0;
    }
    92% {
      opacity:0;
    }
  }

.image-container {
    background: url(img/1.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.navigation {
    text-align: right;
    margin-top: 12.5%;
    position: fixed;
    color: white;  
    right: 0%;
    top: 0px;
    transition: 0.5s;
}
.navigation-active {
    right: 50%;
}

.navigation ul {
    list-style-type: none;   
}

.navigation ul li {
    background: #efefef;
    height: 60px;
    border-radius: 4px 0 0 4px;
    margin-bottom: 5px;
    padding-top: 20px;
    text-align: center;    
    padding-left: 10px;
    color: black;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 900;
    text-decoration: none;
    transition: 0.3s;
    padding-left: 30px;
    padding-right: 30px;
    display: inline-block;    
    transition: 0.5s;
}

.navigation ul li:hover  {
    background: #222;
    color: white;
    text-decoration: none;
    cursor: pointer;
    border-right: solid 10px #de0000;
}


.main-heading h1 {
    margin: 0 0 0 0;
    color: white;
    font-weight: 600;
    font-size: 75px;    
    padding-left: 60px;
    text-shadow: 0 0 10px black;
    font-family: 'Montserrat', sans-serif;
    transition: 1s ease-in-out;
}

.main-heading {
    padding-top: 10%;
    transition: 0.5s;
}

.quru-image-server-tag {
    padding-top: 25%;
}
.quru-image-server-tag img {
    width: 300px;
    height: auto;
}

.download-button {
    color: white;
    background: #de0000;
    margin-left: 60px;
    border-radius: 4px;
    padding: 15px 25px 15px 25px;
    margin-top: 50px;
    text-transform: uppercase;
    font-size: 12px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}
.download-button:hover {
    background: maroon;
}

.dark-layer {
    background: rgba(0, 0, 0, 0.25) no-repeat center center fixed;    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.panel {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.80);
    left: 100%;
    position: fixed;
    color: white;  
    top: 0px;
    transition: 0.5s;
    overflow-y: auto;
    padding-bottom: 60px;
}

.panel .content {
    margin-left: 30px;
    width: 50%
}

.panel .content .heading {
    width: 50%;
    margin-top: 12%;
    margin-bottom: 40px;
}

.panel .content .heading h1{
    color: #de0000;
    size: 40px; 
    font-weight: 700;   
    padding-left: 30px;     
}

.panel-inside-nav ul {
    list-style: none;
    margin-top: 12%;
}

.panel-inside-nav ul .pipe {
    color: #444;
    font-weight: 700;
}

.panel-inside-nav ul .technical-data {
    color: #333;
    font-weight: 700;
    cursor: pointer;
}

.panel-inside-nav ul .technical-data span{
    padding-right: 10px;
}

.panel-inside-nav ul li {
    display: inline-block;
    padding-right: 20px;
    text-transform: uppercase;
}
.technical-data {
    display: none;
}
.technical-data-main {
    display: none;
}
.technical-data-main span {
    color: #de0000;
    font-weight: 200;
    margin-left: 30px;
    text-transform: uppercase;
}

.product-information-main {
    display: block;
}

.product-information-main span {
    color: #de0000;
    font-weight: 200;
    margin-left: 30px;
    text-transform: uppercase;
}

.panel-inside-nav ul .product-information {
    color: white;
    font-weight: 300;
    cursor: pointer;
}

.panel .content p {
    padding-left: 30px;
    font-weight: 200;
    font-size: 13pt;
    margin-bottom: 50px;
    width: 50%;
}

.active {
    left: 50%;
}

.cb-slideshow {
    list-style: none;
}

.social ul {
    list-style: none;
    padding-top: 10%;
    padding-left: 60px;
}
.social ul li {
    display: inline-block;
    padding: 5px;
    background: #222;    
    border-radius: 5px;
    transition: 0.3s;
    margin-right: 10px;
 
}
.social ul li i{
    color: lightgray;        
    font-weight: 900;
    cursor: pointer;    
}
.social ul li:hover {
    background: #111;
    color: white;
}

.rendered {
    margin-left: 60px;
    color: lightgray;
    background: #222;
    font-size: 12px;
    width: 350px;
    text-align: center;
    border-radius: 4px;
    padding: 5px 10px 5px 10px;
    font-weight: 300;
}

@media(max-width:1150px) {
    .panel .content {
        width: 75%;
    }
}
