html, body, .col-md-6, .row {
    background: rgba(255, 255, 255, 0) !important;
}

#background_panel_1 {
    background-image: url('img/1.png') 
}
#background_panel_2 {
    background-image: url('img/2.png') 
}
#background_panel_3 {
    background-image: url('img/3.png') 
}
#background_panel_4 {
    background-image: url('img/4.png') 
}
#background_panel_5 {
    background-image: url('img/5.png') 
}

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.background-image {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
}
.dark-layer {
    z-index: 1;
    background: rgba(0, 0, 0, 0.25) no-repeat center center;    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100vw;    
}

.navigation {
    text-align: right;
    margin-top: 12.5%;
    position: fixed;
    color: white;  
    right: 0%;
    top: 0px;
    transition: 0.5s;
}
.navigation-active {
    right: 50%;
}

.navigation ul {
    list-style-type: none;   
}

.navigation ul li {
    background: #efefef;
    height: 60px;
    border-radius: 4px 0 0 4px;
    margin-bottom: 5px;
    padding-top: 21px;
    text-align: center;    
    padding-left: 10px;
    color: black;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 900;
    text-decoration: none;
    transition: 0.3s;
    padding-left: 30px;
    padding-right: 30px;
    display: inline-block;    
    transition: 0.5s;
}

.navigation ul li:hover  {
    background: #222;
    color: white;
    text-decoration: none;
    cursor: pointer;
    border-right: solid 10px #de0000;
}


.main-heading h1 {
    margin: 0 0 0 0;
    color: white;
    font-weight: 600;
    font-size: 75px;    
    padding-left: 60px;
    text-shadow: 0 0 10px black;
    font-family: 'Montserrat', sans-serif;
    -moz-transition: opacity 2s ease-in;
    -webkit-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;
    transition: 2s;
}

.main-heading {
    padding-top: 10%;
    transition: 0.5s;
}

.quru-image-server-tag {
    padding-top: 25%;
}
.quru-image-server-tag img {
    width: 300px;
    height: auto;
}

.download-button {
    color: white;
    background: #de0000;
    margin-left: 60px;
    border-radius: 4px;
    padding: 15px 25px 15px 25px;
    margin-top: 50px;
    text-transform: uppercase;
    font-size: 12px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}
.download-button:hover {
    background: maroon;
}

.panel {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.80);
    left: 100%;
    position: fixed;
    color: white;  
    top: 0px;
    transition: 0.5s;
    overflow-y: auto;
    padding-bottom: 60px;
}

.panel .content {
    margin-left: 30px;
    width: 50%
}

.panel .content .heading {
    width: 50%;
    margin-top: 12%;
    margin-bottom: 40px;
}

.panel .content .heading h1{
    color: #de0000;
    size: 40px; 
    font-weight: 700;   
    padding-left: 30px;     
}
.panel .content span {
    color: red;
    font-size: 15px;
    text-transform: uppercase;
    padding-left: 30px; 
}

.panel .content .top-thing p {
    text-transform: uppercase;
    font-size: 15px;
    padding-left: 30px; 
    color: lightgrey;
    padding-top: 15%;
}

.panel .content .top-thing span {
    color: #888;
    padding-left: 15px;
    font-weight: 700;
}

.panel .content p {
    padding-left: 30px;
    font-weight: 200;
    font-size: 13pt;
    margin-bottom: 50px;
    width: 50%;
}

.active {
    left: 50%;
}

.cb-slideshow {
    list-style: none;
}

.social ul {
    list-style: none;
    padding-top: 10%;
    padding-left: 60px;
}
.social ul li {
    display: inline-block;
    padding: 10px 10px 5px 0;    
    transition: 0.3s;
    cursor: pointer;
}
.social ul li i{
    color: lightgrey;
    background: #222;
    padding: 3px 3px 3px 3px;
    border-radius: 5px;
}

.rendered {
    margin-left: 60px;
    color: lightgray;
    background: #222;
    font-size: 12px;
    width: 350px;
    text-align: center;
    border-radius: 4px;
    padding: 5px 10px 5px 10px;
    font-weight: 300;
}

.fade-in {
    opacity: 1;
    transition: opacity 0.5s;
  }
  .fade-out {
    opacity: 0;
    transition: opacity 0.5s;
  }

@media(max-width:1150px) {
    .panel .content {
        width: 75%;
    }
}
